.card {
  position: relative;
  width: 350px;
  height: 580px;
  background: rgb(255, 0, 179);
  background: #d9d9d9;
  transition: 0.3s ease;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
  filter: drop-shadow(0px 0px 30px rgba(53,53, 53, 0.5));
  margin-bottom: 30px;
  color: var(--grey);
}

.card::after {
  
  background-color: transparent;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
  
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(217, 217, 217, 1));
}

.img-card{
  width: 85%;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
}

.category-card{
  color:white;
  background-color: var(--green);
  position: absolute;
  top: -20px;
  right: -30px;
}

