:root {
    --grey: #353535;
    --green: #3c6e71;
    --white: #ffffff;
    --lightgray: #d9d9d9;
    --blue: #284b63;

  }

  *{
    font-family: 'Nunito Sans', sans-serif;
  
  }

  .text-green{
    color: var(--green);
  }

  .text-grey{
    color: var(--grey);
  }


  .marginCustom{
    margin-top: 80px;
  }

  .bg-custom{
    background: linear-gradient(180deg, #284b63 0%, #3c6e71 100%);
    color: white;
    
  }

  .table-custom{
    overflow-x:auto;
  }


  .page-link{
    background-color:var(--lightgray) !important;
    color: var(--green);
  }
  
  .zCustom{
    z-index: 99;
  }