@import url(//fonts.googleapis.com/css?family=Lato:300:400);



body {
  margin:0;
}

.height-custom{
  height: fit-content
}

.circle1 {
  background: var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}

.circle2 {
  background: var(--lightgray);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 40px;
  

}
.circle3 {
  background: var(--grey);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}


h1 {
  /* font-family: 'Lato', sans-serif; */
  font-weight:500;
  letter-spacing: 2px;
  font-size:60px;
}
p {
  /* font-family: 'Lato', sans-serif; */
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  /* background: linear-gradient(60deg, #284b63 0%, #3c6e71 100%); */
 
  color:white;
  margin-top: -80px;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/

.info-section{
  
  margin-bottom: 50px;
  background-color: var(--lightgray);
  height: 200px;
}

.info-h3{
  color: var(--grey);
}

.btn-revisor-footer{
  color:white;
  background-color: var(--green);
  padding: 8px;
}

.btn-about-us{
  color:white;
  background-color: var(--green);
  padding: 0px 30px 0px 30px;
}

footer{
  background: linear-gradient(360deg, #284b63 0%, #3c6e71 100%);
  padding: 0px;
}




@media (max-width: 500px) {
  .waves {
    height:20px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
  .info-section{
    height: 300px;

  }
  .img-about-us{
    width: 400px;
    margin-bottom: 60px;
  }
  .about-us{
    justify-content: center;
  }
}


@media (max-width: 1200px) {

  .info-section{
    height: 300px;
  }
  .img-about-us{
    width: 400px;
    margin-bottom: 60px; 
  }
  .about-us{
    justify-content: center;   
  }
  .btn-about-us{
    padding:0px;
  }
}